.main-page {
    padding-top: 50px;
    padding-bottom: 50px;
}
.custom-shadow {
    box-shadow: 1px 1px 3px #ccc;
}
.main-page .card {
    padding: 8px;
}

.parcel-overview {
    padding: 25px;
}
.parcel-overview p {
    text-align: center;
}
.mycontent-right {
    border-right: 2px dashed #333;
}
